body {
  margin:0;
  padding: 0;
  display: flex;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/cinema.jpg");
  background-repeat: no-repeat;
  color: white
}

a {
  color: #00B7FF;
  text-decoration: none;
 }

#title {

  font-size: 2rem;
  margin: 0px 0px 0px 400px
}

#title button{
  color: #00B7FF;
  background-color: white;
  border: 0;
  border-radius: 50px;
  width: 150px;
  height: 30px;
  box-shadow: 2px 2px black;
  
  
} 
