body {
  margin: 0;
  padding: 0;
  display: flex;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

#title a {
  color: #00b7ff;
  text-decoration: none;
}

#title {
  font-size: 2rem;
  margin: 80px 0px 0px 500px;
}

.list {
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
  
  text-align: center;
  gap: 20px;
}





h1 {
  color: white
}
#text {
  display: flex;
  gap: 40px;
  color: black;
  margin-top: 30px;
}

#bg {
  background-image: url("../images/cinema.jpg");
  background-repeat: no-repeat;
  width: 900px;
  height: 600px;
}

#title button {
  color: #00b7ff;
  background-color: white;
  border: 0;
  border-radius: 50px;
  width: 150px;
  height: 30px;
  box-shadow: 2px 2px black;
}
